.configuracion-container {
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .configuracion-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .config-form {
    display: flex;
    flex-direction: column; /* Coloca los campos en columnas */
  }
  
  .form-group {
    margin-bottom: 1rem; /* Espacio entre los campos */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #00b894; /* Color verde menta para etiquetas */
  }
  
  .form-group input {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho */
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; /* Incluye el padding y el borde dentro del ancho */
  }
  
  .config-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #00b894; /* Botón verde menta */
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .config-form button:hover {
    background-color: #019d80; /* Color al pasar el cursor */
  }
  