.lista-container {
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para la lista */
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.lista {
  list-style-type: none;
  padding: 0;
}

.lista li {
  background-color: #e0f4f1; /* Contenedor verde menta */
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Espacio entre la info y los botones */
  align-items: center;
}

.lista li .info {
  flex-grow: 1;
}

.lista li .acciones {
  display: flex;
  gap: 5px; /* Espacio entre los botones */
}

.lista li .acciones button {
  padding: 5px 8px; /* Botones más pequeños */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Transición suave para el color */
}

.lista li .btn-editar {
  background-color: #ffffff; /* Botón blanco para editar */
  color: #333; /* Color de texto oscuro */
}

.lista li .btn-eliminar {
  background-color: #f44336; /* Botón rojo para eliminar */
  color: #fff; /* Color de texto blanco */
}

.lista li .btn-editar:hover {
  background-color: #f0f0f0; /* Color al pasar el cursor para el botón de editar */
}

.lista li .btn-eliminar:hover {
  background-color: #d32f2f; /* Color al pasar el cursor para el botón de eliminar */
}
